{% extends 'base.html.twig' %}

{% block title %}Confrere index{% endblock %}

{% block body %}
    <h1>Confrere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Cel</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for confrere in confreres %}
            <tr>
                <td>{{ confrere.id }}</td>
                <td>{{ confrere.titre }}</td>
                <td>{{ confrere.nom }}</td>
                <td>{{ confrere.prenom }}</td>
                <td>{{ confrere.tel }}</td>
                <td>{{ confrere.cel }}</td>
                <td>{{ confrere.email }}</td>
                <td>
                    <a href="{{ path('app_confrere_show', {'id': confrere.id}) }}">show</a>
                    <a href="{{ path('app_confrere_edit', {'id': confrere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_confrere_new') }}">Create new</a>
{% endblock %}
