{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe
{% endblock %}

{% block body %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Modifier votre mot de passe</h1>
	</div>
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			{{ form_start(form) }}
			<div class="form-row">
				<div class="col-8">
					{{ form_row(form.oldPassword,{'label': 'Ancien mot de passe', 'attr':{'placeholder':'','class':'form-control'}}) }}
				</div>
			</div>
			<div class="form-row">
				<div class="col-8">
					{{ form_row(form.newPassword,{'label': 'Nouveau mot de passe', 'attr':{'placeholder':'','class':'form-control'}}) }}
				</div>
			</div>
			<div class="form-row">
				<div class="col-8">
					{{ form_row(form.confirmPassword,{'label': 'Confirmez le mot de passe', 'attr':{'placeholder':'','class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a class="btn btn-primary" href="{{ path('home_index') }}">
						<i class="fas fa-home fa-sm text-white-10"></i>
						Tableau de bord
					</a>
					<a class="btn btn-success" href="#">
						<i class="fas fa-save fa-sm text-white-10"></i>
						Modifier
					</a>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
