{% extends 'base.html.twig' %}

{% block title %}Personnel index{% endblock %}

{% block body %}
    <h1>Personnel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Cel</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td>{{ personnel.id }}</td>
                <td>{{ personnel.titre }}</td>
                <td>{{ personnel.nom }}</td>
                <td>{{ personnel.prenom }}</td>
                <td>{{ personnel.tel }}</td>
                <td>{{ personnel.cel }}</td>
                <td>{{ personnel.email }}</td>
                <td>
                    <a href="{{ path('app_personnel_show', {'id': personnel.id}) }}">show</a>
                    <a href="{{ path('app_personnel_edit', {'id': personnel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_personnel_new') }}">Create new</a>
{% endblock %}
