{% extends 'base.html.twig' %}

{% block title %}Nature index{% endblock %}

{% block body %}
    <h1>Nature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nature in natures %}
            <tr>
                <td>{{ nature.id }}</td>
                <td>{{ nature.titre }}</td>
                <td>{{ nature.commentaire }}</td>
                <td>
                    <a href="{{ path('app_nature_show', {'id': nature.id}) }}">show</a>
                    <a href="{{ path('app_nature_edit', {'id': nature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nature_new') }}">Create new</a>
{% endblock %}
