{% extends 'base.html.twig' %}

{% block title %}Nature{% endblock %}

{% block body %}
 <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Nature: {{ nature.titre }}</h1>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
                        {# <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div> #}
        <div class="card-body">

    <div class="row">
        <div class="col-md-12">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nature.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ nature.titre }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ nature.commentaire }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
     <div class="row">
        <div class="col">
                <a class="btn btn-primary" href="{{ path('app_nature_index') }}">
                    <i class="fas fa-arrow-left fa-sm text-white-10"></i> Retour à la liste
                </a>
                <a class="btn btn-success" href="{{ path('app_nature_edit', {'id': nature.id}) }}">
                    <i class="fas fa-pencil-alt fa-sm text-white-10"> </i> Modifier
                </a>
        </div>
    </div>

        </div>
    </div>
{% endblock %}
