{{ form_start(form) }}
<div class="form-row">
	<div class="col">
		{{ form_row(form.code,{'label': 'N° D\'entrée', 'attr':{'placeholder':'','class':'form-control'}}) }}
	</div>
	<div class="col">
		{{ form_row(form.rg,{'label': 'Registre du Greffier', 'attr':{'placeholder':'','class':'form-control'}}) }}
	</div>
	<div class="col-4"></div>
	<div class="col">
		{{ form_row(form.createdAt, {'label': 'Date d\'entrée'}) }}
	</div>
</div>
<div class="form-row">
	<div class="col">
		{{ form_row(form.juridiction,{'label': 'Juridiction', 'attr':{'placeholder':'Juridiction','class':'form-control'}}) }}
	</div>
	<div class="col-1 d-flex align-items-end">
		<div class="form-group">
			<label for=""></label>
			<a class="btn btn-dark btn" href data-target="#logoutModal" data-toggle="modal" id="save_juridiction" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Juridiction">
				<i class="fas fa-plus fa-sm text-white-10"></i>
			</a>
		</div>
	</div>
	<div class="col-2">
		{{ form_row(form.nature,{'label': 'Nature', 'attr':{'placeholder':'Nature','class':'form-control'}}) }}
	</div>
	<div class="col-1 d-flex align-items-end">
		<div class="form-group">
			<label for=""></label>
			<a class="btn btn-dark btn" href data-target="#logoutModalNature" data-toggle="modal" id="save_nature" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Nature">
				<i class="fas fa-plus fa-sm text-white-10"></i>
			</a>
		</div>
	</div>
	<div class="col">
		{{ form_row(form.avocat,{'label': 'Avocat en charge', 'attr':{'placeholder':'','class':'form-control'}}) }}
	</div>
	<div class="col-1 d-flex align-items-end">
		<div class="form-group">
			<label for=""></label>
			<a class="btn btn-dark btn" href data-target="#logoutModalAvocat" data-toggle="modal" id="save_avocat" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Avocat">
				<i class="fas fa-plus fa-sm text-white-10"></i>
			</a>
		</div>
	</div>
</div>
<fieldset class="border p-2 mb-3 border-dark rounded">
	<legend class="float-none w-auto p-2 font-weight-bold">Pour</legend>
	<div class="form-row">
		<div class="col">
			{{ form_row(form.client,{'label': 'Pour', 'attr':{'placeholder':'Client','class':'form-control'}}) }}
		</div>
		<div class="col-1 d-flex align-items-end">
			<div class="form-group">
				<label for=""></label>
				<button type="button" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Client">
					<i class="fas fa-plus fa-sm text-white-10"></i>
				</button>
			</div>
		</div>
		<div class="col">
			{{ form_row(form.qualite,{'label': 'Qualite Client', 'attr':{'placeholder':'Qualite Client','class':'form-control'}}) }}
		</div>
		<div class="col-1 d-flex align-items-end">
			<div class="form-group">
				<label for=""></label>
				<button type="button" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Qualité Client">
					<i class="fas fa-plus fa-sm text-white-10"></i>
				</button>
			</div>
		</div>
	</div>
</fieldset>
<fieldset class="border p-2 mb-3 border-dark rounded">
	<legend class="float-none w-auto p-2 font-weight-bold">Contre</legend>
	<div class="form-row">
		<div class="col">
			{{ form_row(form.adversaire,{'label': 'Contre', 'attr':{'placeholder':'Adversaire','class':'form-control'}}) }}
		</div>
		<div class="col-1 d-flex align-items-end">
			<div class="form-group">
				<label for=""></label>
				<button type="button" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Adversaire">
					<i class="fas fa-plus fa-sm text-white-10"></i>
				</button>
			</div>
		</div>
		<div class="col">
			{{ form_row(form.qualiteAd,{'label': 'Qualite Adversaire', 'attr':{'placeholder':'Qualite Adversaire','class':'form-control'}}) }}
		</div>
		<div class="col-1 d-flex align-items-end">
			<div class="form-group">
				<label for=""></label>
				<button type="button" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Qualité Adversaire">
					<i class="fas fa-plus fa-sm text-white-10"></i>
				</button>
			</div>
		</div>
		<div class="col-1"></div>
		<div class="col">
			{{ form_row(form.confrere,{'label': 'Avocat adverse', 'attr':{'placeholder':'Confrere','class':'form-control'}}) }}
		</div>
		<div class="col-1 d-flex align-items-end">
			<div class="form-group">
				<label for=""></label>
				<button type="button" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-html="true" title="Ajout Avocat adverse">
					<i class="fas fa-plus fa-sm text-white-10"></i>
				</button>
			</div>
		</div>

	</div>
</fieldset>

<div class="form-row">

	<div class="col-1"></div>

</div>
<div class="form-row">
	<div class="col">
		{{ form_row(form.objet,{'label': 'Objet', 'attr':{'placeholder':'Objet','class':'form-control'}}) }}
	</div>
	<div class="col">
		{{ form_row(form.commentaire,{'label': 'Commentaire', 'attr':{'placeholder':'Commentaire','class':'form-control'}}) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<a href="{{ path('app_contentieux_index') }}" class="btn btn-primary btn-icon-split">
			<span class="icon text-white-10">
				<i class="fas fa-arrow-left fa-sm text-white-10"></i>
			</span>
			<span class="text">Retour à la liste</span>
		</a>
		<button class="btn btn-success btn-icon-split">
			<span class="icon text-white-10">
				<i class="fas fa-save fa-sm text-white-10"></i>
			</span>
			<span class="text">{{ button_label|default('Enregistrer') }}</span>
		</button>
	</div>
</div>
{{ form_end(form) }}


<!-- Logout Modal Juridiction -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ajout Juridiction</h5>
			</div>
			<div class="modal-body"></div>

			<div class="container">

				<form id="formJuridiction" method="post">
					<div class="row">
						<div class="col">
							<div class="form-row">
								<div class="col">
									{{ form_row(formJuridiction.titre,{'label': 'Titre', 'attr':{'placeholder':'Titre','class':'form-control'}}) }}
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									{{ form_row(formJuridiction.lieu,{'label': 'Lieu', 'attr':{'placeholder':'Lieu','class':'form-control'}}) }}
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									{{ form_row(formJuridiction.commentaire,{'label': 'Commentaire', 'attr':{'placeholder':'Commentaire','class':'form-control'}}) }}
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
							<span class="icon text-white-10">
								<i class="fas fa-times fa-sm text-white-10"></i>
							</span>
							<span class="text">Annuler</span>

						</button>
						<button type="reset" class="btn btn-success btn-icon-split" id="envoyer_juridiction" data-dismiss="modal">
							<span class="icon text-white-10">
								<i class="fas fa-save fa-sm text-white-10"></i>
							</span>
							<span class="text">Enregistrer</span>
						</button>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Logout Modal Nature -->
<div class="modal fade" id="logoutModalNature" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ajout Nature</h5>
			</div>
			<div class="modal-body"></div>

			<div class="container">

				<form id="formNature" method="post">
					<div class="row">
						<div class="col">
							<div class="form-row">
								<div class="col">
									{{ form_row(formNature.titre,{'label': 'Titre', 'attr':{'placeholder':'Titre','class':'form-control'}}) }}
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									{{ form_row(formNature.commentaire,{'label': 'Commentaire', 'attr':{'placeholder':'Commentaire','class':'form-control'}}) }}
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
							<span class="icon text-white-10">
								<i class="fas fa-times fa-sm text-white-10"></i>
							</span>
							<span class="text">Annuler</span>

						</button>
						<button class="btn btn-success btn-icon-split" id="envoyer_nature" data-dismiss="modal">
							<span class="icon text-white-10">
								<i class="fas fa-save fa-sm text-white-10"></i>
							</span>
							<span class="text">Enregistrer</span>
						</button>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Logout Modal Avocat -->
<div class="modal fade" id="logoutModalAvocat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width: 600px !important;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ajout Avocat</h5>
			</div>
			<div class="modal-body"></div>

			<div class="container">

				<form id="formAvocat" method="post">
					<div class="row">
						<div class="col">
							<div class="form-row">
								<div class="col-2">
									{{ form_row(formAvocat.titre,{'label': 'Titre', 'attr':{'placeholder':'titre','class':'form-control'}}) }}
								</div>
								<div class="col">
									{{ form_row(formAvocat.typePerso,{'label': 'Fonction', 'attr':{'placeholder':'Nom','class':'form-control'}}) }}
								</div>
							</div>
							<div class="form-row">
								<div class="col-4">
									{{ form_row(formAvocat.nom,{'label': 'Nom', 'attr':{'placeholder':'Nom','class':'form-control'}}) }}
								</div>
								<div class="col">
									{{ form_row(formAvocat.prenom,{'label': 'Prenom', 'attr':{'placeholder':'Prenom','class':'form-control'}}) }}
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									{{ form_row(formAvocat.tel,{'label': 'Téléphone 1', 'attr':{'placeholder':'','class':'form-control', 'pattern':'[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}'}}) }}
								</div>
								<div class="col">
									{{ form_row(formAvocat.cel,{'label': 'Téléphone 2', 'attr':{'placeholder':'','class':'form-control', 'pattern':'[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}'}}) }}
								</div>
								<div class="col-5">
									{{ form_row(formAvocat.email,{'label': 'Email', 'attr':{'placeholder':'','class':'form-control'}}) }}
								</div>
							</div>

						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
							<span class="icon text-white-10">
								<i class="fas fa-times fa-sm text-white-10"></i>
							</span>
							<span class="text">Annuler</span>

						</button>
						<button class="btn btn-success btn-icon-split" id="envoyer_nature" data-dismiss="modal">
							<span class="icon text-white-10">
								<i class="fas fa-save fa-sm text-white-10"></i>
							</span>
							<span class="text">Enregistrer</span>
						</button>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
