{% extends 'base.html.twig' %}

{% block title %}Contentieux index{% endblock %}

{% block body %}
    <h1>Contentieux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>CreatedAt</th>
                <th>Objet</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contentieux in contentieuxes %}
            <tr>
                <td>{{ contentieux.id }}</td>
                <td>{{ contentieux.code }}</td>
                <td>{{ contentieux.createdAt ? contentieux.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contentieux.objet }}</td>
                <td>{{ contentieux.commentaire }}</td>
                <td>
                    <a href="{{ path('app_contentieux_show', {'id': contentieux.id}) }}">show</a>
                    <a href="{{ path('app_contentieux_edit', {'id': contentieux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contentieux_new') }}">Create new</a>
{% endblock %}
