{{ form_start(form) }}


<div class="form-row">
	<div class="col">
		{{ form_row(form.code,{'label': 'N° Client', 'attr':{'placeholder':'','class':'form-control'}}) }}
	</div>
	<div class="col-3">
		{{ form_row(form.type,{'label': 'Type de client', 'attr':{'placeholder':' ','class':'form-control'}}) }}
	</div>
	<div class="col-6"></div>
</div>
<fieldset class="border p-2 mb-3 border-dark rounded">
	<legend class="float-none w-auto p-2 font-weight-bold">Société</legend>
	<div class="form-row">

		<div class="col">
			{{ form_row(form.raisonSocial,{'label': 'Raison Social', 'attr':{'placeholder':'Raison Social','class':'form-control'}}) }}
		</div>
		<div class="col">
			{{ form_row(form.contact,{'label': 'Contact', 'attr':{'placeholder':'Contact','class':'form-control'}}) }}
		</div>

	</div>
</fieldset>
<fieldset class="border p-2 mb-3 border-dark rounded">
	<legend class="float-none w-auto p-2 font-weight-bold">Particulier</legend>
	<div class="form-row">

		<div class="col-2">
			{{ form_row(form.titre,{'label': 'Titre', 'attr':{'placeholder':'Titre','class':'form-control'}}) }}
		</div>
		<div class="col-4">
			{{ form_row(form.nom,{'label': 'Nom', 'attr':{'placeholder':'Nom','class':'form-control'}}) }}
		</div>
		<div class="col">
			{{ form_row(form.prenom,{'label': 'Prénoms', 'attr':{'placeholder':'Prénoms','class':'form-control'}}) }}
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			{{ form_row(form.tel,{'label': 'Téléphone 1', 'attr':{'placeholder':'Téléphone 1','class':'form-control'}}) }}
		</div>
		<div class="col">
			{{ form_row(form.cel,{'label': 'Téléphone 2', 'attr':{'placeholder':'Téléphone 2','class':'form-control'}}) }}
		</div>
		<div class="col">
			{{ form_row(form.fax,{'label': 'Fax', 'attr':{'placeholder':'Fax','class':'form-control'}}) }}
		</div>
		<div class="col-5">
			{{ form_row(form.email,{'label': 'Email', 'attr':{'placeholder':'Email','class':'form-control'}}) }}
		</div>
	</div>
</fieldset>
<div class="row">
	<div class="col">

		{% if app.user %}
			<a class="btn btn-primary" href="{{ path('home_index') }}">
				<i class="fas fa-home fa-sm text-white-10"></i>
					Tableau de bord
			</a>
		{% else %}
			<a class="btn btn-primary" href="{{ path('app_client_index') }}">
				<i class="fas fa-arrow-left fa-sm text-white-10"></i>
				Retour à la liste
			</a>
		{% endif %}

		<button class="btn btn-success">
			<i class="fas fa-save fa-sm text-white-10"></i>
			{{ button_label|default('Enregistrer') }}</button>
	</div>
</div>


{{ form_end(form) }}
