{% extends 'base.html.twig' %}

{% block title %}Qualite index{% endblock %}

{% block stylesheets %}
    <link href="/bundle/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
{% endblock %}

{% block body %}
      <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Liste des qualités</h1>
        <div class="align-items-right justify-content-between">
            
            <a href="{{ path('app_qualite_new') }}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-10">
                    <i class="fas fa-plus fa-sm text-white-10"></i>
                </span>
                <span class="text">Nouvelle qualité</span>
            </a>
            <span class="dropdown no-arrow mb-4">
                
                <button class="btn btn-info btn-icon-split dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon text-white-10">
                        <i class="fas fa-sort-down fa-sm text-white-20"></i>
                    </span>
                     <span class="text">Liste en Pdf ou Excel</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                    <a target="_blank" class="dropdown-item" href="{{ path('index_imprimer') }}">
                        <i class="fas fa-print fa-sm text-white-10"></i>  Pdf</a>
                    <a class="dropdown-item" href="{{ path('index_excel') }}">
                        <i class="fas fa-file-excel fa-sm text-white-10"></i>  Excel</a>
                </div>
            </span>
        </div>
    </div>



<!-- DataTales Example -->
   <div class="card shadow mb-4">
                        {# <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>  #}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
            <tr>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qualite in qualites %}
            <tr>
             
                <td>{{ qualite.titre }}</td>
                
                 <td>
                    <a class="btn btn-success btn-sm btn-circle" href="{{ path('app_qualite_show', {'id': qualite.id}) }}">
                        <i class="fas fa-eye fa-sm text-white-10"> </i>
                    </a>
                    <a class="btn btn-info btn-sm btn-circle" href="{{ path('app_qualite_edit', {'id': qualite.id}) }}">
                        <i class="fas fa-pencil-alt fa-sm text-white-10"></i>
                    </a>
               <!-- Button trigger modal -->
                    <a class="btn btn-danger btn-sm btn-circle qualite_sup" href data-remove-url="{{ url('qualite_delete', {'id': qualite.id}) }}" data-id="{{ qualite.id }}" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-trash-alt fa-sm text-white-10"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrement<</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}

    <!-- Page level plugins -->
    <script src="/bundle/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/bundle/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/bundle/js/demo/datatables-demo.js"></script>
    
    <script>
        let qualiteSup = document.querySelectorAll('a.qualite_sup');
        let removeId = document.getElementById('remove_id');
        
        for(let i = 0; i < qualiteSup.length; i++){

            qualiteSup[i].addEventListener('click', function(){
                let qualiteId = this.getAttribute('data-id');
                let urlSup = this.getAttribute('data-remove-url');
                removeId.setAttribute('data-id', qualiteId);
                removeId.setAttribute('href', urlSup);
                
            });

        };


        /** removeId.addEventListener('click', function(){
            let deletePerso = this.getAttribute('data-id');
            let url = this.getAttribute('data-remove-url');
            console.log();

            fetch(url, {
                method: 'DELETE',
                headers: {
                'Content-Type': 'application/json'
                },
            })
            .then(function(response) {
                
                if(response.ok) {
                     response.json()
                        .then(function(data) {
                          console.log(data);
                        });
                } else {
                    console.log('Mauvaise réponse du réseau');
                }
            })
            .catch(function(error) {
                console.log('Il y a eu un problème avec l\'opération fetch: ' + error.message);
            });
                
        });**/
        
    </script>
 {% endblock %}

